@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for the dark/light theme functionality */
:root {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

/* Custom Tailwind utility for prose-specific link styling */
.prose a:hover {
    @apply text-red-700 dark:text-red-300;
}